package {{invokerPackage}}.authentication;

import android.app.Service;
import android.content.Intent;
import android.os.IBinder;
import android.util.Log;

/**
 *
 * Application: {{appName}} - {{appVersion}}
 * Contact:     {{infoEmail}} - {{infoUrl}}
 *
 */

public class AuthenticatorService extends Service {

    public static final String LOG_TAG = "{{appName}}: " + AuthenticatorService.class.getSimpleName();

    // Instance field that stores the authenticator object
    private Authenticator mAuthenticator;


    @Override
    public void onCreate() {
        // Create a new authenticator object

        Log.d(LOG_TAG, "Create Sync Service.");

        mAuthenticator = new Authenticator(this);
    }

    @Override
    public IBinder onBind(Intent intent) {
        return mAuthenticator.getIBinder();
    }
}
