<manifest  xmlns:android="http://schemas.android.com/apk/res/android" package="{{invokerPackage}}">
    <!-- This permission is necessary in order to perform network access. -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- The ContentProvider -->
    <provider
            android:name="{{invokerPackage}}.content.Provider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

    <!-- SyncAdapter's dummy authentication service -->
    <service android:name="{{invokerPackage}}.authentication.AuthenticatorService">
        <intent-filter>
            <action android:name="android.accounts.AccountAuthenticator" />
        </intent-filter>
        <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
    </service>

    <!-- The SyncAdapter service -->
    <service
            android:name="{{invokerPackage}}.sync.SyncService"
            android:exported="true">
        <intent-filter>
            <action android:name="android.content.SyncAdapter" />
        </intent-filter>
        <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
    </service>

    <application />
</manifest>
