<resources xmlns:xliff="http://schemas.android.com/apk/res-auto">

    <!-- Account related -->
    <string name="account_name" translatable="false">{{#swagger}}{{vendorExtensions.x-android-sync-account-name}}{{/swagger}}</string>

    <!-- SyncAdapter related -->
    <string name="sync_account_type" translatable="false">{{#swagger}}{{vendorExtensions.x-android-sync-account-type}}{{/swagger}}</string>
    <string name="content_authority" translatable="false">{{#swagger}}{{vendorExtensions.x-android-sync-content-authority}}{{/swagger}}</string>
    <string name="last_sync_timestamp" translatable="false">last_sync_timestamp</string>

</resources>
