package {{invokerPackage}}.observer;

/**
*
* Application: {{appName}} - {{appVersion}}
* Contact:     {{infoEmail}} - {{infoUrl}}
*
*/

public interface ChangeListener {
    void onContentChanged();
}
